.preview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 80vw;
  max-width: 90vw;
  height: 80vw;
}

.infoText {
  text-align: center;
  animation-name: popup;
  animation-duration: 800ms;
}

@keyframes popup {
  0%   { transform: scale(1,1) }
  10%  { transform: scale(1.1,1.1) }
  30%  { transform: scale(.9,.9) }
  50%  { transform: scale(1,1) }
  57%  { transform: scale(1,1) }
  64%  { transform: scale(1,1) }
  100% { transform: scale(1,1) }
}

.card {
  width: 80vw;
  max-width: 90vw;
  height: 80vw;
  max-height: 90vw;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}